*.pkl filter=lfs diff=lfs merge=lfs -text
data_sample/processed/preprocessed_reviews.csv filter=lfs diff=lfs merge=lfs -text
data_sample/raw/amazon_review_polarity_csv/train.csv filter=lfs diff=lfs merge=lfs -text
data_sample/processed/reviews_preprocesadas.csv filter=lfs diff=lfs merge=lfs -text
data_sample/raw/amazon_review_polarity_csv/test.csv filter=lfs diff=lfs merge=lfs -text
data_sample/raw/amazon_review_polarity_csv/*.csv filter=lfs diff=lfs merge=lfs -text
data_sample/processed/*.csv filter=lfs diff=lfs merge=lfs -text
